extends layout

block content
  .grid_4
    center="Create a game!"
    #new_game
      form(name="create_game", action="/games/create", method="post")
        .field
          ="Name: "
          input(type="text", name="name")
        .field.hidden.ai_field
          ="AI Url: "
          input(type="text", name="ai_url")
        .label="Join as:"
        .player_radios
          .field
            input(type="radio", name="player", value="w")
            =" White"
          .field
            input(type="radio", name="player", value="b")
            =" Black"
          .field
            input(type="radio", name="player", value="spectator")
            =" Spectator"
        span.field
          select(name="mode", id="game_mode")
            option(value="classic") Classic
            option(value="960") 960
            option(value="ai") AI
          input(type="submit", value="Create Game", id="create_game")
    .loading
  #game_list.grid_8
    table.striped_table.center
      caption="Active Games"
      tr
        th="Game Name"
        th="White Player"
        th="Black Player"
      -for (var i = 0; i < games.length; i++)
        -var verbose = true;
        -var game = games[i]
        -var white = games[i].white
        -var black = games[i].black
        include game_row
  .chat.grid_4
    center="Chat"
    ul(id="chat_tabs")
      li(data-chat="lobby", class="selected")="Lobby"
    .chat_messages(id="lobby-chat")
    form(name="lobby_message", id="message", action="/lobby_message/", method="post")
      input(type="hidden", id="room", name="room", value="lobby")
      input(type="submit", id="chat_submit", name="chat_submit",class="right")
      .inputbox
        input(type="text", id="chat_input", name="chat_input", autocomplete="off")


