-if(verbose)
  h1
    #game_title='Game: ' + game.name
    #game_turn
      ='Current Turn: '
      span.c_turn
        =(game.fen.split(' ')[1] === 'b' ? "Black" : "White")
-else
  h3
    #game_title
      a(href="/games/"+game._id)
        =game.name
    #game_turn
      span.c_turn
        =(game.fen.split(' ')[1] === 'b' ? "Black" : "White")
.game_board(id=game._id)
-if(verbose)
  h2.players_large
    .black_player
      -if(game.black)
        ='Black: '
        span.black_name
          -if (game.black._id == current_user.id) 
            a(href="/users")=game.black.name 
            =' '
            a(href="/games/"+game._id+"/leave", class="quit_game")
              ="(quit)"
          -else
            a(href="/users")=game.black.name 
            =' '
      -else
          -if(game.game_type === 'ai')
            form(id="myform1"+game._id, method="post", action="/games/"+game._id+"/request_move")
              ='Black: AI '
              input(type="hidden", name="color", value="b")
              -if(current_user.id == game.white._id)
                a(href='#', class="request_move")
                  ="(request move)"
          -else
            form(id="myform1"+game._id, method="post", action="/games/"+game._id+"/join")
              ='Black: '
              span.black_name
                ="None "
                input(type="hidden", name="color", value="b")
                a(href='#', class="join_game")
                  ="(join)"
    .white_player
      -if(game.white)
        ='White: '
        span.white_name
          -if (game.white._id == current_user.id) 
            a(href="/users")=game.white.name 
            =' '
            a(href="/games/"+game._id+"/leave", class="quit_game")
              ="(quit)"
          -else
            a(href="/users")=game.white.name 
            =' '
      -else
        form(id="myform2"+game._id, method="post", action="/games/"+game._id+"/join")
          ='White: None '
          input(type="hidden", name="color", value="w")
          a(href='#', class="join_game")
            ="(join)"
-else
  h4.players_small
    .black_player
      -if(game.black)
        span.black_name
          -if (game.black._id == current_user.id) 
            =game.black.name+' '
            a(href="/games/"+game._id+"/leave")
              ="(quit)"
          -else
            =game.black.name
      -else
          -if(game.game_type === 'ai')
            form(id="myform1"+game._id, method="post", action="/games/"+game._id+"/request_move")
              ='AI '
              input(type="hidden", name="color", value="b")
              -if(current_user.id == game.white._id)
                a(href='#', class="request_move")
                  ="(req)"
          -else
            form(id="myform1"+game._id, method="post", action="/games/"+game._id+"/join")
              span.black_name
                ='None '
                input(type="hidden", name="color", value="b")
                a(href='#', class="join_game")
                  ="(join)"
    .white_player
      -if(game.white)
        span.white_name
          -if (game.white._id == current_user.id)
            =game.white.name + ' '
            a(href="/games/"+game._id+"/leave", class="quit_game")
              ="(quit)"
          -else
            =game.white.name
      -else
        form(id="myform2"+game._id, method="post", action="/games/"+game._id+"/join")
          span.black_name
            ='None '
            input(type="hidden", name="color", value="w")
            a(href='#', class="join_game")
              ="(join)"
