extends layout

block content
  #game_list.grid_10
    table
      tr
        th="Game Name"
        th="White Player"
        th="Black Player"
        th="Private?"
      -for (var i = 0; i < games.length; i++)
        -var game = games[i]
        tr 
          td
            a(href="/game/"+game._id)
              =game.name
          td=(game.white ? game.white.name : 'None')
          td=(game.black ? game.black.name : 'None')
          td=game.private
  #new_game.grid_4.prefix_1
    form(name="create_game", action="/create_game", method="post")
      .label="Create a game: "
      .field
        ="Name:"
        input(type="text", name="name")
      .label="Join as:"
      .field
        input(type="radio", name="player", value="w")
        ="White"
      .field
        input(type="radio", name="player", value="b")
        ="Black"
      .field
        input(type="radio", name="player", value="spectator")
        ="Spectator"
      br
      input(type="submit", value="Create Game")
