extends layout

block content
  .container_16
    #game_list.grid_10
      table
        tr
          th="Game Name"
          th="White Player"
          th="Black Player"
          th="Private?"
        -for (var i = 0; i < games.length; i++)
          -var game = games[i]
          tr 
            td
              a(href="/game/"+game._id)
                =game.name
            td=(game.white ? game.white : 'None')
            td=(game.black ? game.black : 'None')
            td=game.private
    #new_game.grid_10
      form(name="create_game", action="/create_game", method="post")
        ="Create a game: "
        ="Name:"
        input(type="text", name="name")
        br
        input(type="radio", name="player", value="white")="White"
        br
        input(type="radio", name="player", value="black")="Black"
        br
        input(type="radio", name="player", value="spectator")="Spectator"
        br
        input(type="submit", value="Create Game")
