doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/960.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery-color.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/raphael.js')
    script(src='/javascripts/chesslogic.js')
    script(src='/javascripts/chess.js')
    script(src='/javascripts/board.js')
    script.
      var socket = io.connect('!{app.get('env') === 'development' ? 'http://localhost' : 'http://infinite-wave-1213.herokuapp.com'}');
  body
    .header
      .container_16
        a(href="/").left
          img(src="/images/mini-logo.png")
        #breadcrumbs.left
          ul
            -for (var i = 0; i < breadcrumbs.length; i++)
              -crumb = breadcrumbs[i];
              li
                a(href=crumb[1])
                  =crumb[0]
        -if (typeof current_user !== 'undefined')
          #user_status.right
            b="You are logged in as "+ current_user.name+" "
            a(href="/logout")="(Logout)"
    .container_16
      .grid_10.prefix_3
        .message.hidden
    .container_16
      block content
