extends layout

block content
  h1.
    User List
  table
        tr
          th="Player Name"
          th="Elo Rating"
          th="Games Played"
        -for (var i = 0; i < users.length; i++)
          -var user = users[i]
          tr   
            td=user.name
            td=user.elo_rating
            td=user.games_played